# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore npm debug files
npm-debug.log*

# Ignore Yarn lock file if you're using npm
yarn.lock

# Ignore the build output folder
/dist
